Environement/Environement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Handler">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">

          <!-- Affiche un message dans les logs du serveur. Supporte {{varName}}. -->
          <xs:element name="Log">
            <xs:complexType>
              <xs:attribute name="Message" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>

          <!-- Assigne une valeur statique (ou interpolée via {{varName}}) à une variable. -->
          <xs:element name="Set">
            <xs:complexType>
              <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:choice minOccurs="0" maxOccurs="1">
                  <xs:element name="Value" type="valueExpression"/>
                  <xs:element name="value" type="valueExpression"/>
                </xs:choice>
              </xs:sequence>
              <xs:attribute name="Name"  type="xs:string" use="optional"/>
              <xs:attribute name="Var"   type="xs:string" use="optional"/>
              <xs:attribute name="Value" type="xs:string" use="optional"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="set">
            <xs:complexType>
              <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:choice minOccurs="0" maxOccurs="1">
                  <xs:element name="Value" type="valueExpression"/>
                  <xs:element name="value" type="valueExpression"/>
                </xs:choice>
              </xs:sequence>
              <xs:attribute name="Name"  type="xs:string" use="optional"/>
              <xs:attribute name="Var"   type="xs:string" use="optional"/>
              <xs:attribute name="Value" type="xs:string" use="optional"/>
              <xs:attribute name="name"  type="xs:string" use="optional"/>
              <xs:attribute name="var"   type="xs:string" use="optional"/>
              <xs:attribute name="value" type="xs:string" use="optional"/>
            </xs:complexType>
          </xs:element>

          <!-- Declaration de variables typees. -->
          <xs:element name="int" type="typedVariable"/>
          <xs:element name="Int" type="typedVariable"/>
          <xs:element name="string" type="typedVariable"/>
          <xs:element name="String" type="typedVariable"/>
          <xs:element name="datetime" type="typedVariable"/>
          <xs:element name="DateTime" type="typedVariable"/>
          <xs:element name="bool" type="typedVariable"/>
          <xs:element name="Bool" type="typedVariable"/>
          <xs:element name="decimal" type="typedVariable"/>
          <xs:element name="Decimal" type="typedVariable"/>
          <xs:element name="double" type="typedVariable"/>
          <xs:element name="Double" type="typedVariable"/>
          <xs:element name="long" type="typedVariable"/>
          <xs:element name="Long" type="typedVariable"/>

          <!-- Utilitaires variables -->
          <xs:element name="StringToInt">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="required"/>
              <xs:attribute name="From" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="stringtoint">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="optional"/>
              <xs:attribute name="From" type="xs:string" use="optional"/>
              <xs:attribute name="name" type="xs:string" use="optional"/>
              <xs:attribute name="from" type="xs:string" use="optional"/>
            </xs:complexType>
          </xs:element>

          <xs:element name="IntToString">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="required"/>
              <xs:attribute name="From" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="inttostring">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="optional"/>
              <xs:attribute name="From" type="xs:string" use="optional"/>
              <xs:attribute name="name" type="xs:string" use="optional"/>
              <xs:attribute name="from" type="xs:string" use="optional"/>
            </xs:complexType>
          </xs:element>

          <xs:element name="StringFormat">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="required"/>
              <xs:attribute name="Format" type="xs:string" use="required"/>
              <xs:attribute name="Vars" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="stringformat">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="optional"/>
              <xs:attribute name="Format" type="xs:string" use="optional"/>
              <xs:attribute name="Vars" type="xs:string" use="optional"/>
              <xs:attribute name="name" type="xs:string" use="optional"/>
              <xs:attribute name="format" type="xs:string" use="optional"/>
              <xs:attribute name="vars" type="xs:string" use="optional"/>
            </xs:complexType>
          </xs:element>

          <xs:element name="StringSubstring">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="required"/>
              <xs:attribute name="From" type="xs:string" use="required"/>
              <xs:attribute name="Start" type="xs:int" use="required"/>
              <xs:attribute name="Length" type="xs:int" use="optional"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="stringsubstring">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="optional"/>
              <xs:attribute name="From" type="xs:string" use="optional"/>
              <xs:attribute name="Start" type="xs:int" use="optional"/>
              <xs:attribute name="Length" type="xs:int" use="optional"/>
              <xs:attribute name="name" type="xs:string" use="optional"/>
              <xs:attribute name="from" type="xs:string" use="optional"/>
              <xs:attribute name="start" type="xs:int" use="optional"/>
              <xs:attribute name="length" type="xs:int" use="optional"/>
            </xs:complexType>
          </xs:element>

          <xs:element name="StringToDateTime">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="required"/>
              <xs:attribute name="From" type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>
          <xs:element name="stringtodatetime">
            <xs:complexType>
              <xs:attribute name="Name" type="xs:string" use="optional"/>
              <xs:attribute name="From" type="xs:string" use="optional"/>
              <xs:attribute name="name" type="xs:string" use="optional"/>
              <xs:attribute name="from" type="xs:string" use="optional"/>
            </xs:complexType>
          </xs:element>

          <!-- Exécute une requête SQL et stocke les résultats dans une variable (liste de lignes). -->
          <!-- Supporte Query="..." (string) ou une balise <Query> structurée. -->
          <xs:element name="SqlQuery">
            <xs:complexType>
              <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:element name="Query" minOccurs="0" maxOccurs="1">
                  <xs:complexType mixed="true">
                    <xs:sequence minOccurs="0" maxOccurs="unbounded">
                      <xs:choice minOccurs="0" maxOccurs="1">
                        <xs:element name="String" type="xs:string"/>
                        <xs:element name="Insert" type="xs:anyType"/>
                        <xs:element name="Select" type="xs:anyType"/>
                      </xs:choice>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="Source" type="xs:string" use="required"/>
              <xs:attribute name="Query"  type="xs:string" use="optional"/>
              <xs:attribute name="Var"    type="xs:string" use="required"/>
            </xs:complexType>
          </xs:element>

          <!-- Lit un fichier et le stocke dans une variable. -->
          <!-- Fichiers .csv : chaque ligne devient un objet JSON, la 1re ligne sert d'en-têtes. -->
          <!-- Delimiter est optionnel : défaut "," pour les .csv, sinon stockage texte brut. -->
          <xs:element name="FileRead">
            <xs:complexType>
              <xs:attribute name="Source"    type="xs:string" use="required"/>
              <xs:attribute name="Var"       type="xs:string" use="required"/>
              <xs:attribute name="Delimiter" type="xs:string" use="optional"/>
            </xs:complexType>
          </xs:element>

          <!-- Retourne la réponse HTTP. Arrête l'exécution des steps suivants. -->
            <!-- Lit le body JSON d'une requête POST/PUT et expose les champs comme variables. -->
            <!-- Le body complet est aussi stocké sous Var. -->
            <xs:element name="BodyRead">
              <xs:complexType>
                <xs:attribute name="Var" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>

            <!-- Exécute du SQL sans résultat (INSERT, UPDATE, DELETE). -->
            <!-- Supporte Query="..." (string) ou une balise <Query> structurée. -->
            <!-- Var optionnel : reçoit le nombre de lignes affectées. -->
            <xs:element name="SqlExecute">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="1">
                  <xs:element name="Query" minOccurs="0" maxOccurs="1">
                    <xs:complexType mixed="true">
                      <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:choice minOccurs="0" maxOccurs="1">
                          <xs:element name="String" type="xs:string"/>
                          <xs:element name="Insert" type="xs:anyType"/>
                          <xs:element name="Select" type="xs:anyType"/>
                        </xs:choice>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Source" type="xs:string" use="required"/>
                <xs:attribute name="Query"  type="xs:string" use="optional"/>
                <xs:attribute name="Var"    type="xs:string" use="optional"/>
              </xs:complexType>
            </xs:element>

            <!-- Ajoute une ligne à un fichier CSV. Crée le fichier et l'en-tête si inexistant. -->
            <!-- Row pointe vers une variable Dictionary du contexte. -->
            <xs:element name="CsvAppend">
              <xs:complexType>
                <xs:attribute name="Source"    type="xs:string" use="required"/>
                <xs:attribute name="Row"       type="xs:string" use="required"/>
                <xs:attribute name="Delimiter" type="xs:string" use="optional"/>
              </xs:complexType>
            </xs:element>

            <!-- Retourne la réponse HTTP. Arrête l'exécution des steps suivants. -->
            <!-- <Data Var="nomVariable"/> référence une variable du contexte. -->
          <xs:element name="Return">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Data" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                    <xs:attribute name="Var" type="xs:string" use="required"/>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="Status" type="xs:int" use="optional"/>
            </xs:complexType>
          </xs:element>

          <!-- Permet l'extension de la DSL (if/else, try/catch, http-get/post, foreach, etc.). -->
          <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>

        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="typedVariable" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Value" type="valueExpression" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Value" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="valueExpression" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="Get" type="getExpression"/>
        <xs:element name="get" type="getExpression"/>
        <xs:element name="StringFormat" type="stringFormatExpression"/>
        <xs:element name="stringformat" type="stringFormatExpression"/>
        <xs:element name="StringToInt" type="unaryExpression"/>
        <xs:element name="stringtoint" type="unaryExpression"/>
        <xs:element name="IntToString" type="unaryExpression"/>
        <xs:element name="inttostring" type="unaryExpression"/>
        <xs:element name="StringToDateTime" type="unaryExpression"/>
        <xs:element name="stringtodatetime" type="unaryExpression"/>
        <xs:element name="StringSubstring" type="substringExpression"/>
        <xs:element name="stringsubstring" type="substringExpression"/>
        <!-- Expressions utilitaires étendues (math, comparaison, logique, concat...). -->
        <xs:any minOccurs="0" maxOccurs="1" processContents="lax"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getExpression">
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="stringFormatExpression" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Arg" type="valueExpression" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="Format" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="unaryExpression" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Arg" type="valueExpression" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="substringExpression" mixed="true">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Arg" type="valueExpression" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="Start" type="xs:int" use="required"/>
    <xs:attribute name="Length" type="xs:int" use="optional"/>
  </xs:complexType>

</xs:schema>